/*
1. The first letter of the first paragraph directly in body.

2. All images with attribute data-type="jpg-png".
2.a. All images with attribute data-type="jpg-png" on Hover.

3. All li items that are 2-nd from end in ul elements.

4. All not li elements that are in ul .

5. The first line of all elements with attribute data-emet-attr that ends with '29'

6. All li items that are odd in ul elements.

7. Set selection of text.
*/


body {
	width: 960px;
	margin: 0 auto;
}

body > p:first-of-type::first-letter {
	font-size: 48px;
}

img[data-type="jpg-png"] {
	width: 250px;
	border: 3px solid green;
}
img[data-type="jpg-png"]:hover {
	border: 3px dotted green;
}

ul > li:nth-last-of-type(2) {
	text-decoration: underline;
}
ul > li:nth-last-of-type(2)::after {
	content: '(2nd last li)';
    font-size: 12px;
    color: red;
}

ul > :not(li){
	text-decoration: line-through;
}
ul > :not(li)::after {
	content: '(not li in ul)';
    display: inline-block;
    font-size: 12px;
    color: brown;
}

[data-emet-attr $= '29']::first-line {
	color: pink;
}


/* ul > li:nth-of-type(2n-1) */
ul > li:nth-of-type(odd) {
	color: purple;
}
ul > li:nth-of-type(odd)::after {
	content: '(odd li)';
    font-size: 12px;
    color: green;
}

::selection {
    background-color: darkblue;
    color: white;
}